/* Pixel Onion Starterkit 978px grid system based on 978.gs */
/* 12 columns at 54px, 30px gutters. Wrapper width: 1008px. */

/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 1008px;
}

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 1008px;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-12 .grid-1 {
  width: 54px;
}

.container-12 .grid-2 {
  width: 138px;
}

.container-12 .grid-3 {
  width: 222px;
}

.container-12 .grid-4 {
  width: 306px;
}

.container-12 .grid-5 {
  width: 390px;
}

.container-12 .grid-6 {
  width: 474px;
}

.container-12 .grid-7 {
  width: 558px;
}

.container-12 .grid-8 {
  width: 642px;
}

.container-12 .grid-9 {
  width: 726px;
}

.container-12 .grid-10 {
  width: 810px;
}

.container-12 .grid-11 {
  width: 894px;
}

.container-12 .grid-12 {
  width: 978px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 84px;
}

.container-12 .prefix-2 {
  padding-left: 168px;
}

.container-12 .prefix-3 {
  padding-left: 252px;
}

.container-12 .prefix-4 {
  padding-left: 336px;
}

.container-12 .prefix-5 {
  padding-left: 420px;
}

.container-12 .prefix-6 {
  padding-left: 504px;
}

.container-12 .prefix-7 {
  padding-left: 588px;
}

.container-12 .prefix-8 {
  padding-left: 672px;
}

.container-12 .prefix-9 {
  padding-left: 756px;
}

.container-12 .prefix-10 {
  padding-left: 840px;
}

.container-12 .prefix-11 {
  padding-left: 924px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 84px;
}

.container-12 .suffix-2 {
  padding-right: 168px;
}

.container-12 .suffix-3 {
  padding-right: 252px;
}

.container-12 .suffix-4 {
  padding-right: 336px;
}

.container-12 .suffix-5 {
  padding-right: 420px;
}

.container-12 .suffix-6 {
  padding-right: 504px;
}

.container-12 .suffix-7 {
  padding-right: 588px;
}

.container-12 .suffix-8 {
  padding-right: 672px;
}

.container-12 .suffix-9 {
  padding-right: 756px;
}

.container-12 .suffix-10 {
  padding-right: 840px;
}

.container-12 .suffix-11 {
  padding-right: 924px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  left: 84px;
}

.container-12 .push-2 {
  left: 168px;
}

.container-12 .push-3 {
  left: 252px;
}

.container-12 .push-4 {
  left: 336px;
}

.container-12 .push-5 {
  left: 420px;
}

.container-12 .push-6 {
  left: 504px;
}

.container-12 .push-7 {
  left: 588px;
}

.container-12 .push-8 {
  left: 672px;
}

.container-12 .push-9 {
  left: 756px;
}

.container-12 .push-10 {
  left: 840px;
}

.container-12 .push-11 {
  left: 924px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  left: -84px;
}

.container-12 .pull-2 {
  left: -168px;
}

.container-12 .pull-3 {
  left: -252px;
}

.container-12 .pull-4 {
  left: -336px;
}

.container-12 .pull-5 {
  left: -420px;
}

.container-12 .pull-6 {
  left: -504px;
}

.container-12 .pull-7 {
  left: -588px;
}

.container-12 .pull-8 {
  left: -672px;
}

.container-12 .pull-9 {
  left: -756px;
}

.container-12 .pull-10 {
  left: -840px;
}

.container-12 .pull-11 {
  left: -924px;
}