/* Pixel Onion Starterkit 748px grid system based on 978.gs */
/* 12 columns at 44px, 20px gutters, no outside margins */

/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 20px;
  margin-right: 0;
}

.grid-1:first-child, .grid-2:first-child, .grid-3:first-child, .grid-4:first-child, .grid-5:first-child, .grid-6:first-child, .grid-7:first-child, .grid-8:first-child, .grid-9:first-child, .grid-10:first-child, .grid-11:first-child, .grid-12:first-child {
  margin-left: 0; } /* 978.gs */

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 748px;
}

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 748px;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-12 .grid-1 {
  width: 44px;
}

.container-12 .grid-2 {
  width: 108px;
}

.container-12 .grid-3 {
  width: 172px;
}

.container-12 .grid-4 {
  width: 236px;
}

.container-12 .grid-5 {
  width: 300px;
}

.container-12 .grid-6 {
  width: 364px;
}

.container-12 .grid-7 {
  width: 428px;
}

.container-12 .grid-8 {
  width: 492px;
}

.container-12 .grid-9 {
  width: 556px;
}

.container-12 .grid-10 {
  width: 620px;
}

.container-12 .grid-11 {
  width: 684px;
}

.container-12 .grid-12 {
  width: 748px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 64px;
}

.container-12 .prefix-2 {
  padding-left: 128px;
}

.container-12 .prefix-3 {
  padding-left: 192px;
}

.container-12 .prefix-4 {
  padding-left: 256px;
}

.container-12 .prefix-5 {
  padding-left: 320px;
}

.container-12 .prefix-6 {
  padding-left: 384px;
}

.container-12 .prefix-7 {
  padding-left: 448px;
}

.container-12 .prefix-8 {
  padding-left: 512px;
}

.container-12 .prefix-9 {
  padding-left: 576px;
}

.container-12 .prefix-10 {
  padding-left: 640px;
}

.container-12 .prefix-11 {
  padding-left: 704px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 64px;
}

.container-12 .suffix-2 {
  padding-right: 128px;
}

.container-12 .suffix-3 {
  padding-right: 192px;
}

.container-12 .suffix-4 {
  padding-right: 256px;
}

.container-12 .suffix-5 {
  padding-right: 320px;
}

.container-12 .suffix-6 {
  padding-right: 384px;
}

.container-12 .suffix-7 {
  padding-right: 448px;
}

.container-12 .suffix-8 {
  padding-right: 512px;
}

.container-12 .suffix-9 {
  padding-right: 576px;
}

.container-12 .suffix-10 {
  padding-right: 640px;
}

.container-12 .suffix-11 {
  padding-right: 704px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  left: 64px;
}

.container-12 .push-2 {
  left: 128px;
}

.container-12 .push-3 {
  left: 192px;
}

.container-12 .push-4 {
  left: 256px;
}

.container-12 .push-5 {
  left: 320px;
}

.container-12 .push-6 {
  left: 384px;
}

.container-12 .push-7 {
  left: 448px;
}

.container-12 .push-8 {
  left: 512px;
}

.container-12 .push-9 {
  left: 576px;
}

.container-12 .push-10 {
  left: 640px;
}

.container-12 .push-11 {
  left: 704px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  left: -64px;
}

.container-12 .pull-2 {
  left: -128px;
}

.container-12 .pull-3 {
  left: -192px;
}

.container-12 .pull-4 {
  left: -256px;
}

.container-12 .pull-5 {
  left: -320px;
}

.container-12 .pull-6 {
  left: -384px;
}

.container-12 .pull-7 {
  left: -448px;
}

.container-12 .pull-8 {
  left: -512px;
}

.container-12 .pull-9 {
  left: -576px;
}

.container-12 .pull-10 {
  left: -640px;
}

.container-12 .pull-11 {
  left: -704px;
}